# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
Data/
Records/
notebook/.ipynb_checkpoints/
notebook/__pycache__/
notebook/demo_files/
.ipynb_checkpoints/
notebook/*.gif
# Executables
*.swf
*.air
*.ipa
*.apk
*.gif

# Cache
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
